{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-param-reassign": 0,
    "object-curly-newline": 0,
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "prefer-destructuring": 0,
    "operator-linebreak": ["error", "after"],
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "react/function-component-definition": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react/jsx-max-props-per-line": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unstable-nested-components": 0,
    "react/no-array-index-key": 0,
    "no-plusplus": 0,
    "react/prop-types": 0
  }
}
