<!--
 * @LastEditors: Necfol
 * @Date: 2022-05-31 19:25:36
 * @LastEditTime: 2022-07-25 22:42:59
 * @FilePath: /mercado-frontend/src/pages/document.ejs
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>组件市场</title>
  <meta property="og:title" content="组件市场" />
  <meta property="og:url" content="https://mercado.app.terminus.io/" />
  <meta property="og:description" content="端点科技组件市场" />
</head>

<body>
  <div id="root"></div>
</body>

</html>
